.title {
  font-family: "SignPainter", sans-serif;
  font-size: xx-large;
}

.circles {
  display: flex;
  gap: 1rem;
  margin: 1rem 0 0 0;
}

.circle {
  width: 5rem;
  height: 5rem;
  border: 5px solid black;
  border-radius: 50%;
}

.small-circle {
  width: 2rem;
  height: 2rem;
  border: 5px solid black;
  border-radius: 50%;
}

.username {
  font-size: large;
}

.poster {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.photo {
  width: 500px;
  height: 500px;
}
